**/desktop.ini

**/obj/**
**/bin/**
**/.vs/**
**/.suo/**
**.user

shared_assets/**

*.sln
*.vcxproj
*.vcxproj.filters

# Exclusions
!**/premake5.exe
!**/dll/**
!**/external/**/*.lib



projects/Lecture 03_complete/

projects/Lecture 03/

projects/Lecture 05_complete/

projects/Lecture 04_complete/

projects/Soulflare Engine/

projects/OBJ Loader/

projects/OBJ Loader.zip
